* {
    margin: 0px;
    padding: 0px;
}


.firstheading{
    text-align: center;
    padding-top: 30px;
}

.ebooksimg{
    width: 20rem;
    max-width: 100%;
}

/* .ebooksimg:hover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-timing-function: ease-out;
    transition-property: all;
    box-sizing: border-box;
    transition-duration: 300ms;
} */